.app__dashboard {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #ddd;
    flex-direction: row;
    position: relative;
}

.dashboard__home {
    width: 100%;
    height: 100%;
    padding: 1.2rem 1.2rem 1.2rem 272px;
}