@import "../../App.css";

.dashboard__sidebar {
    width: 260px;
    height: 100vh;
    background-color: #FFF;
    /* box-shadow: 2px 0 4px 1px #2323233d; */
    position: fixed;
}

.sidebar__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 1.6rem;
}

.nav__menu {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
}

.nav__menu a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem 0.8rem;
    gap: 0.8rem;
    color: #000000;
    font-family: var(--f-p);
    font-size: 1.02rem;
    border: 1.6px solid transparent;
    border-radius: 24px;
    outline: none;
    transition: all 0.3s linear;
}

.nav__menu a.active__page {
    background-color: var(--c-p);
    color: #FFF;
}

.nav__menu a:hover, .nav__menu a:focus-visible {
    border: 1.6px solid var(--c-p);
}